hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
}
.lista__rodape{
    display: none;
}

@media screen and (min-width: 1024px){

    .rodape{
        display: flex;
        justify-content: space-between;
        padding: 2em 1em 3em 1em;
    }

    .lista__rodape{
        display: block;
        font-weight: 400;
    }

    .titulo__rodape{
        font-weight: 400;
        margin: 2em 0;
    }


    .lista__rodape-titulo{
        font-size: 14px;
        color: var(--cinza);
        margin-bottom: 1em;
    }

    .lista-rodape__link{
        color: var(--preto-secundario);
        text-decoration: none;
        margin: .5em;
    }

    .lista__rodape-itens{
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;
        padding: .5em;
    }
}

@media screen and (min-width: 1728px){
    .lista__rodape{
        border-left: 2px solid var(--cor-de-fundo);
        padding-left: 1em;
        margin: 0 5em;
    }
    
    .rodape{
        padding-top: 3em;
    }
}